#container {
  height: 1020px;
  width: 978px;
  margin: 12em
;
}

#top {
  /*margin-left: 30.5em;*/
  display: inline-block;
  float: right;
  margin-top: -3em;
}

#ilogo {
  margin-bottom: -5px;
  display: inline-block;
}

header {
  margin-left: 2em;
  margin-top: 2em;
  display: inline-block;
}

h1 {
  margin-left: 1em;
  display: inline-block;
}

#blurb {
  margin-top: -2em;
  margin-left: 3em;
  font-size: .5em;
  font-weight: 100;
}

#print {
  padding-left: 24.5em;
}

span {
  font-size: 3em;
  font-family: cursive;
  padding: .5em;
}

#desc {
  margin-left: 3.5em;
  margin-right: 30em;
  font-size: .2em;
  margin-top: 0;
}

body {
  margin: 0;
  display: inline-block;
}

#cake {
  display: block;
  margin: auto;
  height: 562px;
}

#content {
  width: 860px;
  margin-left: 55px;
}


.list {
  display: block;
  margin: 10px;
}


.list1 {
  display: block;
  margin: 10px;
  shape-inside:
}


p {
  font-size: .5em;
}

#card {
  display: block;
  clear: both;
  margin: 6%;;
  width: 88.4%;
}

#van {
  display: block;;
  margin-left: 25%;
  margin-top: 5%;
  border: solid black 3px;
  clear: both;
}

#smallLogo {
  display: block;
  border: solid black 3px;
}

footer {
display: inline;
 height: 1020px;
 width: 978px;
 margin: 12%;
}
